h2 {
  color: gold;
  font-size: x-large;
  font-size: 36px;
  display: flex;
  text-decoration: dotted;
}
li {
  color: black;
  padding: 5px;
  font-size: 20px;
}
.gallery {
  padding: 100px 156px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.gallery li {
  display: flex;
  flex-wrap: wrap;
  width: calc((100% - 24px * 2) / 3);
}
.special {
  width: 240px;
  height: 360px;
}

#controls {
  margin: 0 auto;
  display: flex;
  gap: 16px;
  background-color: #f6f6fe;
  width: 400px;
  height: 120x;
  border-radius: 8px;
  padding: 32px;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

#controls input {
  border: 1px solid #808080;
  border-radius: 8px;
  padding: 8px;
  width: 2000px;
  height: 60px;
  text-align: center;
}

#controls button[data-create] {
  background: #4e75ff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 120px;
  height: 40px;
}

#controls button[data-destroy] {
  background: #ff4e4e;
  border-radius: 8px;
  padding: 8px 16px;
  width: 120px;
  height: 40px;
}

#boxes {
  margin: 0 auto;
  background: #f6f6fe;
  border-radius: 8px;
  padding: 32px;
  width: 486px;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
